h1{
	background-color: #255089;
	color: white;
	text-align: center;
    background-image: url("imagenes/girasolesMiniatura.jpg");
    background-position: right;
    background-repeat: no-repeat;
    font-weight: 400;
    margin-left: -150px;
}

h1, h2, h3{
	font-family: 'Aladin', cursive;
	text-shadow:5px 5px 1px black;
	color: white;
    
}

h1, h2{
    border-bottom: 3px solid;
}

body{
	background-color: #ACCDFB;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    background-image: url("imagenes/fondo.png");
    background-position: left;
    background-repeat: repeat-y;
    padding-left: 150px;
}

figcaption{
    color: white;
    background-color: black;
    font-family: Verdana sans-serif;
    font-weight: bold;
}

figure{
    border: solid white;
    margin: 0px;
    padding: 5px 5px 5px 5px;
}

li{
    background-color: #142141;
    color: white;
}

li:hover{
    background-color: #547089;
}

a{
    color: white;
}

a:hover{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover+strong {
    display:none;
}
